.btn-blue {
	background-color: #8084B1;
	padding: 15px 30px;
	margin-top: 10px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: 'Roboto', sans-serif; 
	font-size: 20px;


}